
*.out
*.0
*.o
IALG_2/REO1/err
IALG_2/REO1/hello
IALG_2/REO1/enem
IALG_2/REO1/peso
IALG_2/REO1/primos
IALG_2/REO1/salario
IALG_2/REO1/serieNum
IALG_2/REO1/testeLive
IALG_2/REO1/salario_DEL
IALG_2/REO1/A_trapezio
IALG_2/REO1/alfandega
IALG_2/REO1/aplicacao
IALG_2/REO1/buildShip
IALG_2/REO1/cashback
IALG_2/REO1/convHorario
IALG_2/REO1/creditoE
IALG_2/REO1/ddp
IALG_2/REO1/degraus
IALG_2/REO1/divisaoR
IALG_2/REO1/hello_teste
IALG_2/REO1/hobby
IALG_2/REO1/mixCor
IALG_2/REO1/isupper
IALG_2/REO1/quantParImpar
IALG_2/REO1/testes
IALG_2/REO1/troco
IALG_2/REO1/velCar
*.swp
IALG_2/REO2/altTurma
IALG_2/REO2/aula3Ex
IALG_2/REO2/aulaMdc
IALG_2/REO2/desenhaLetra
IALG_2/REO2/divSub
IALG_2/REO2/fibonacci
IALG_2/REO2/fibonacci-2
IALG_2/REO2/fibonacciclear
IALG_2/REO2/maior_ndMaior
IALG_2/REO2/maiorMatricula
*.3
IALG_2/REO2/praticaFor/lacoString
IALG_2/REO2/praticaFor/totalSoldados
IALG_2/REO2/rightword
IALG_2/REO2/triangulos
IALG_2/REO3/convert_unity
IALG_2/REO3/ex1_pilha
IALG_2/REO3/exampleClass
IALG_2/REO3/exampleTeste
IALG_2/REO3/fat_duplo
*.c
IALG_2/REO3/fatorial_com_funcao
IALG_2/REO3/fibonacci_com_funcao
IALG_2/REO3/fatorial_com_funcaoclear
IALG_2/REO3/fracao-v3
IALG_2/REO3/fracoes
IALG_2/REO3/fracoes_2
IALG_2/REO3/media_com_funcao
IALG_2/REO3/funcaoSs
IALG_2/REO3/pass_for_reference
IALG_2/REO3/soma_parcelas
IALG_2/REO5/menu_carros
IALG_2/REO5/mergeSort
IALG_2/REO6/ex1_file
IALG_2/REO6/ex3_file
IALG_2/REO6/ex2_file
IALG_2/REO6/ex4_file
*.txt
IALG_2/REO6/lista_estudo/arquivo_de_texto
IALG_2/REO6/ex5_file
IALG_2/REO6/lista_estudo/meu-arquivo
*.dat
IALG_2/REO6/vamos
IALG_2/review/arquivos/meus_dados
