@charset "UTF-8";
#submenu{
    border-right: #008B8B;
}
#link{
    list-style: none;
    background-color: #d2d2d2;
    border-radius: 14px;
    text-decoration: none
}

#link:hover {
    background-color:#008B8B;
    color:red;
}