@charset "UTF-8";
#submenu{
    border-right: #008B8B;
}
ul li a{
    background-color: #d2d2d2;
    border-radius: 14px;
    text-decoration: none;
    list-style:none;
}
ul li a:hover {
    background-color:#008B8B;
    color:#112b41;
}